* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    padding-top: 80px;
}

.text-dance {
    font-family: 'Dancing Script', cursive;
}

/* css for home carosal */
.text-shadow-rainbow {
    color: white;
    text-shadow: 1px 0 0 orange, 0 -1px 0 red, 0 1px 0 blue, -1px 0 0 green;
}

.home-carousel img {
    width: 100%;
    height: 70vh;
}

@media all and (max-width: 993px) {
    .home-carousel img {
        height: 35vh;
    }
}

/* css for about secion */
.about-box p {
    height: 120px;
    overflow: hidden;
}

.about-box.showContent p {
    height: auto;
}

/* css for rooms and gallery section */
.image-wrapper img {
    width: 100%;
    height: 100%;
}

.card {
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.carousel-inner {
    padding: .2em;
}

@media screen and (min-width: 768px) {
    .cards-wrapper {
        display: flex;
    }

    .card {
        margin: 0 .5em;
        width: calc(100%/3);
    }

    .image-wrapper {
        height: 30vw;
        margin: 0 auto;
    }
}



@media screen and (max-width: 767px) {
    .card {
        margin: 0 .5em;
        width: 100%;
    }

    .image-wrapper {
        height: 50vw;
        margin: 0 auto;
    }
}

/* css for amenities section */
.amenities-icon-image {
    margin-right: 1.6rem;
    height: 28.8px;
    height: 1.8rem;
    width: 28.8px;
    width: 1.8rem;
    position: relative;
    top: 3.2px;
    top: 0.2rem;
}

/* css for footer secion */
.connect-icon {
    height: 40px;
    height: 4rem;
    width: 40px;
    width: 4rem;
}